body {
  font-family: Arial, sans-serif;
  background-color: #d0e7d2;
}

.container {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10%;
}
.container .form-range {
  text-align: center;
}

.card {
  width: 300px;
  margin-right: 10px;
  margin-top: 2%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 10px;
  transition: 0.5s;
}
.card:hover {
  box-shadow: -12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.container > p {
  text-align: center;
}
.container > h1 {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
}

#pricingModal .modal-dialog {
  max-width: 80%;
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding-left: 3%;
}
.section_image {
  display: flex;
  width: 100%;
  justify-content: center;
}

.imagesContainer img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin-right: 10px;
}

.card-title {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input_range {
  text-align: center;
  padding: 3%;
}
.card-body p {
  text-align: center;
}
.card-body h5 {
  text-align: center;
}
.card-body button {
  text-align: center;
}

@media (max-width: 991.98px) {
  .card {
    width: 100%;
    margin: 2% 0;
  }

  .imagesContainer img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100%;
    margin: 5% 0;
  }

  .container {
    margin-bottom: 20%;
  }

  .imagesContainer img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
